@import url('https://fonts.googleapis.com/css?family=Anton|Arvo|Baloo+Tamma|Coiny|Libre+Barcode+128+Text|Lobster|Merriweather|Pacifico|Staatliches|ZCOOL+QingKe+HuangYou');

.title{
    color: blueviolet;
    text-align: left;
    font-family: Lobster ;
    font-size: 60px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.hinh1{
  height: 900px;
}
.say1{
  font-family: lobster;
  font-size: 50px;
  color: lightpink;
}
.say2{
  font-family: lobster;
  font-size: 50px;
  color: lightpink;
}
.say3{
  font-family: lobster;
  font-size: 50px;
  color: lightpink;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.pic1{
  height: 250px;
  width: 250px;
  vertical-align: middle;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.wordcenter{
    color: green;
    text-align: center;
    font-family: fantasy; 
    font-size: 90px;
}
.part2{
  background-color: lightseagreen;
}
.pen{
    height: 200px;
    width: 300px;
    vertical-align: middle;
}
.Writeus{
    text-align: center;
    font-family: cursive;
    font-size: large;
}
.write1{
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 30;
}
.birdy{
    height: 200px;
    width: 300px;
    vertical-align: middle;
}
.Training{
    text-align: center;
    font-family: cursive;
    font-size: large;
}
.write2{
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 30;
}
.momota{
    text-align: center;
    height: 200px;
    width: 300px;
    vertical-align: middle;
}
.Champion{
    text-align: center;
    font-family: cursive;
    font-size: large;
}
.write3{
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 30;
}
.logan{
  background-size: 200px 300px;
  background-color: lightcoral;
  text-align: center;
}
.question{
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
}
.ans{
  margin-bottom: 0;
  font-family: calibri;
  font-size: 40px;
}
.part4{
  margin: 0;
  background-color: olivedrab;
}
.shoes{
  height: 250px;
  width: 250px;
  vertical-align: middle;
}
.Update{
  text-align: left;
  font-family: cursive;
  font-size: large;
}
.write4{
  text-align: left;
  font-family: Times New Roman;
  font-size: 30;
}
.lin{
  height: 250px;
  width: 250px;
  vertical-align: middle;
}
.lindan{
  text-align: left;
  font-family: cursive;
  font-size: large;
}
.write5{
  text-align: left;
  font-family: Times New Roman;
  font-size: 30;
}
.bird{
  height: 250px;
  width: 250px;
  vertical-align: middle;
}
.newtime{
  text-align: left;
  font-family: cursive;
  font-size: large;
}
.write6{
  text-align: left;
  font-family: Times New Roman;
  font-size: 30;
}
.brack{
  height: 250px;
  width: 250px;
  vertical-align: middle;
}
.labor{
  text-align: left;
  font-family: cursive;
  font-size: large;
}
.write7{
  text-align: left;
  font-family: Times New Roman;
  font-size: 30;
}
.where{
  background-color: lightyellow;
  text-align: center;
  font-family: Pacifico;
}
.where2{
  text-align: center;
  font-family: Coiny;
}
.info{
  text-align: left;
  font-family: 'Times New Roman';
  font-size: 13;
}
.some.id{
  align-items: right;
}
.rating{
  height: 20px;
}
.btn0{
  background-color: aqua;
  text-align: center;
}
.btn{
  
  display: inline-block;
  widows: 30px;
  height: 30px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}
.btn i{
  line-height: 50px;
  font-size: 50px;
  transition: 0.5s linear;

}